/* dandole estilos*/

/*a{
	color: blue;
	padding: 150px;
	margin: 0;
	font-family: times new roman;
	font-size: 17px;

}*/


ul {


    list-style-type:  none;
    font-size:  18px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: olive;


}

li {

	float: right;

}

li a {

	text-decoration: none/*underline overline dotted blue*/;
	color: blue;
	padding: 10px;
	font-family: times new roman;
	font-size: 17px;
	display: block;
	background-color: gray;
	color: white;

}
li a:hover{

	background-color: olive;
	color: white;
}
/*
h1{
	text-align: center;
	font-family: arial;
	color: olive;
}

p{
	text-align: center;
	font-family: times new roman;
	color: gray;
}

h6{
	text-align: center;
	font-family: arial;
	color: olive;
}
*/
.center-banner{
	display: flex;
	justify-content: center;
}
.banner{
	width: 1000px;
	height: 300px;
	border: 3px solid olive;
	margin: 20px;
	/*agregando foto al baner*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
	animation-name: banner;
	animation-duration: 10s;
	animation-iteration-count: infinite; 
	border-radius: 10%

}

/*haciendo las paradas de cada imagen agregadas en el banner*/


@keyframes banner {
	0%, 20% {
		background-image: url(../img/natu.jpg) ;
	}
	31%, 40% {
		background-image: url(../img/natu1.jpg) ;
	}
	41%, 60%{
		background-image: url(../img/natu2.jpg) ;
	}
	61%, 80%{
		background-image: url(../img/natu3.jpg) ;
	}
	81%, 100%{
		background-image: url(../img/natu4.jpg) ;
	}
}



