

/* 

.center-banner{
	display: flex;
	justify-content: center;
}
.banner{
	width: 1000px;
	height: 300px;
	border: 3px solid olive;
	margin: 20px;
	
	background-repeat: no-repeat;
	background-size: 100% 100%;
	animation-name: banner;
	animation-duration: 10s;
	animation-iteration-count: infinite; 
	border-radius: 10%

}
@keyframes banner {
	0%, 20% {
		background-image: url(../img/natu.jpg) ;
	}
	31%, 40% {
		background-image: url(../img/natu1.jpg) ;
	}
	41%, 60%{
		background-image: url(../img/natu2.jpg) ;
	}
	61%, 80%{
		background-image: url(../img/natu3.jpg) ;
	}
	81%, 100%{
		background-image: url(../img/natu4.jpg) ;
	}
}

*/

/*.flora{

font-family: time new roman ;
font-size: 23px;

}
*/

/******* diseño del narv **********/
ul{

	list-style-type:  none;
    font-size:  20px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: olive;
    font-family: time new roman;
     list-style-type: none;

}

li {

float: left;
border-right: 1px solid silver;

}

li a{

  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: silver;
}
/******** banner (carrusel)********/

span{

font-family: time new roman ;
font-size: 20px;
color: olive;
}
 
 /*******diseño para titulo********/
 h2{

 	text-align: center;
	font-family: Times new roman;
	color: white;
	margin: 20px;
	background-color: olive;

 }
/*******diseño de los cuadros de texto*******/
 .card{
margin-left: 2em;

 }

 
