

/* 

.center-banner{
	display: flex;
	justify-content: center;
}
.banner{
	width: 1000px;
	height: 300px;
	border: 3px solid olive;
	margin: 20px;
	
	background-repeat: no-repeat;
	background-size: 100% 100%;
	animation-name: banner;
	animation-duration: 10s;
	animation-iteration-count: infinite; 
	border-radius: 10%

}
@keyframes banner {
	0%, 20% {
		background-image: url(../img/natu.jpg) ;
	}
	31%, 40% {
		background-image: url(../img/natu1.jpg) ;
	}
	41%, 60%{
		background-image: url(../img/natu2.jpg) ;
	}
	61%, 80%{
		background-image: url(../img/natu3.jpg) ;
	}
	81%, 100%{
		background-image: url(../img/natu4.jpg) ;
	}
}

*/
body{
	background-image: url(../img/lon.jpeg);
	background-color: white;
}

/******* diseño del narv **********/
nav{

	list-style-type:  none;
    font-size:  1em;
    overflow: hidden;
    margin: 0;
    padding: 0;
    /*background-color: olive;*/
    font-family: bookman old style;
     list-style-type: none;
     border-style: 1px solid  ;

}

/*li {

float: left;
border-right: 1px solid silver;

}*/

nav a{

  display: block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-family: bookman old style;
}

nav a:hover {
  background-color: silver;
}
/******** banner (carrusel)********/

span{

font-family: times new roman ;
font-size: 25px;
color: black;
font-weight: bold;
text-align: center; 
}
 
 /*******diseño para titulo********/
 h2{

 	text-align: center;
	font-family: Times new roman;
	color: white;
	margin: 20px;
	background-color: olive;

 }
/*******diseño de los cuadros de texto*******/
 .card{

border-style: 2px solid olive;

 }
/*****dandole estilo a la clase container******/

.container{

 width: 100%;
 border: 100px inset silver  ;
 background-color: white;
 margin-top: 1em;
 border-radius: 4em;

}
/***** dandole estilos a los titulos H1*/
h1{
	font-family: comic sans;
}

/***** dandole estilos a los titulos H5*/

h5{
     font-family: time new roman;
     color: hotpink;
     text-align: center;
}

small{

	font-color: white;
}
p{
	font-family: time new roman;
	
}
small{
	font-family: time new roman;
	color: black;
}
